
// Footer Styling

footer {
    background-color: #1f1f1f;
    color: $backgroundColor;
    padding: 75px 0 0 0;    

    .footerMenu {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border-bottom: 1px solid $spanColor;
        padding-bottom: 40px;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: calc(60%/2 - 10px);
    }

    form {
        width: 40%;
        @include formStyle;

        input.emailSignup {
            color: $backgroundColor2;
            padding: 10px 0;
            width: 100%;
        }
    }

    .lowBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 25px 0;
        color: $secondaryColor;

        ul {
            flex-direction: row;
            justify-content: flex-end;
        }

        li {
            padding-left: 20px;
        }

        i {
            color: $backgroundColor2;
            font-size: 1.5rem;
            padding: 0 25px;
        }

        i:hover, i:focus, i:active {
            color: $spanColor;
        }
    }
}