
// topBar Styling

.topBar {
    width: 100%;
    background-color: $backgroundColor2;
    position: relative;
    height: 75px;

    ul {
        align-items: center;
        justify-content: space-around;
        text-transform: uppercase;

        li {
            height: 75px;
            display: flex;
            align-items: center;
            padding: 0 10px;
        }

        li:nth-child(3) {
            margin-right: 25%;
        }

        li:nth-child(4) {
            margin-left: 25%;
        }
    }

    .logo {
        position: absolute;
        top: 20px;
        left: 42%;
        margin: 0;
    }

    label, input {
        display: none;
    }
}