
// Home Page Styling

.homePage {

    // Header

    header {
        @include headerStyle('../sunshine-assets/home-1.jpeg');
    }

    .byline {
        display: flex;
        justify-content: left;
    }

    // About Section

    .about {
        background-color: $backgroundColor;

        .wrapper {
            display: flex;
            flex-direction: vertical;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        article {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 100px 0;
        }

        h2 {
            width: 100%;
            text-align: center;
        }

        .image {
            width: 300px;
            max-width: 350px;   
            position: relative;

            img:first-child {
                width: 225px;
                border: 10px solid $backgroundColor2;
                margin: 0 10px;
                float: right;
            }
            
            img:last-child {
                position: absolute;
                width: 125px;
                left: 0;
                bottom: -25px;
            }
        }

        .copy {
            width: 400px;
            padding: 0 25px;

            h3 {
                width: 300px;
            }
        }
    }

    // Features Section

    .features {
        background-image: url('../sunshine-assets/home-3.jpeg');
        background-size: contain;
        background-position: 100% 0;
        background-repeat: no-repeat;
    }

    .featuresTable {
        background-color: $backgroundColor2;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 15%;
        padding-top: 5%;
        width: 500px;


        li {
            display: flex;
            width: 50%;
            padding: 0 20px 20px 0;
        }
    
        h3 {
            margin: 0;
        }

        i {
            padding: 0 20px 0 0;
        }
    }
    // Testimonials Section

    .testimonials {
        background-image: url('../sunshine-assets/pattern.png');
        background-size: cover;
        text-align: center;
        padding: 75px 0;

        .testimonialBox {
            background-color: $backgroundColor2;
            padding: 50px 75px;
            position: relative;
        }

        .rating {
            display: flex;
            justify-content: center;
        }

        .fas {
            position: absolute;
            top: 50%;
        }

        .left.fas {
            left: -50px;
        }

        .right.fas {
            right: -50px;
        }

        .byline {
            justify-content: center;
        }
    }

    // Gallery Section

    .gallery {
        background-image: url('../sunshine-assets/pattern.png');
        background-size: cover;
        padding-bottom: 75px;        
        text-align: center;

        ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-top: 30px;
        }

        li {
            width: calc(100% / 3 - 10px);
            padding-bottom: 10px;
        }
    }

    // Contact Us Section

    .contactUs {
        background-image: url('../sunshine-assets/home-10.jpeg');
        background-size: 60%;
        background-position: fixed;
        background-repeat: no-repeat;

        display: flex;
        justify-content: flex-end;

        .copy {
            margin-right: 15%;
            padding: 5% 0 5% 5%;
            background-color: $backgroundColor2;
        }
    }
}