// Typography & Accent Colour Styling

nav {
    li {
        position: relative;
    }
    li a {
        font-weight: 600;
        color: $primaryColor;

        &:hover, &:focus, &:active {
            color: $secondaryColor;
        }
    }

    li p {
        background-color: $accentColorOne;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        text-align: center;
        line-height: 1.2rem;
        font-size: 0.6rem;
        color: $primaryColor;
        position: absolute;
        bottom: 16px;
        right: 5px;
    }
}

h2, h3 {
    margin-top: 0;
    margin-bottom: 20px;
}

span {
    font-family: $decorativeFont;
    font-weight: 700;
    font-size: 1.2rem;
    color: $primaryColor;
}

.homePage h2 {
    font-weight: 400;
    font-size: 0.8rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: $secondaryColor;
}

.logo, .homePage h3 {
    color: $primaryColor;
    font-family: $decorativeFont;
    font-size: 4rem;
    line-height: 2.6rem;
    letter-spacing: 0.04rem;
}

.homePage .about h3 {
    font-size: 2.5rem;
    padding-top: 20px;
    position: relative;

    &::before {
        content: " ";
        background-color: $primaryColor;
        width: 50px;
        height: 1px;
        position: absolute;
        top: 0;
    }
}

.byline {
    .author {
        font-weight: 600;
        color: $primaryColor;

        &::after {
            content: " — ";
            color: $secondaryColor;
        }
    }
}

.homePage {
    h4, i {
        margin: 0;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1.5rem;
        text-transform: uppercase;
        color: $primaryColor;
    }

    i {
        font-size: 2rem;
    }

    .testimonialBox .quote {
        padding: 20px 50px;
        color: $primaryColor;
        font-family: $decorativeFont;
        font-style: italic;
        font-size: 1.5rem;
        line-height: 2.2rem;

        &::before {
            content: " “ ";
        }

        &::after {
            content: " ” ";
        }
    }

    .testimonialBox i {
        &:hover, &:focus, &:active {
            color: $secondaryColor;
        }
    }

    .testimonialBox .rating i {
        color: $accentColorTwo;
        font-weight: 300;
        }

    .contactUs h4,
    .contactUs .phone {
        padding-top: 50px;
        font-family: $decorativeFont;
        font-size: 2rem;
        text-transform: none;
        color: $primaryColor;

        span {
            color: $spanColor;
            font-size: 2rem;
        }
    }

    .contactUs {
        .phone {
            padding-top: 0;
            margin: 0;
        }

        p {
        width: 250px;
        }

        p:nth-of-type(3) {
            padding-top: 50px;
        }
    }
}

footer, footer a {
    color: $spanColor;

    &:hover, &:focus, &:active {
        color: $backgroundColor2;
    }
}
