@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: 0.03rem;
  color: #999999;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 70%;
  max-width: 1280px;
  margin: 0 auto;
}

nav li {
  position: relative;
}

nav li a {
  font-weight: 600;
  color: #000000;
}

nav li a:hover, nav li a:focus, nav li a:active {
  color: #999999;
}

nav li p {
  background-color: #A4F1DC;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  text-align: center;
  line-height: 1.2rem;
  font-size: 0.6rem;
  color: #000000;
  position: absolute;
  bottom: 16px;
  right: 5px;
}

h2, h3 {
  margin-top: 0;
  margin-bottom: 20px;
}

span {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: #000000;
}

.homePage h2 {
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: #999999;
}

.logo, .homePage h3 {
  color: #000000;
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  line-height: 2.6rem;
  letter-spacing: 0.04rem;
}

.homePage .about h3 {
  font-size: 2.5rem;
  padding-top: 20px;
  position: relative;
}

.homePage .about h3::before {
  content: " ";
  background-color: #000000;
  width: 50px;
  height: 1px;
  position: absolute;
  top: 0;
}

.byline .author {
  font-weight: 600;
  color: #000000;
}

.byline .author::after {
  content: " — ";
  color: #999999;
}

.homePage h4, .homePage i {
  margin: 0;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: #000000;
}

.homePage i {
  font-size: 2rem;
}

.homePage .testimonialBox .quote {
  padding: 20px 50px;
  color: #000000;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 1.5rem;
  line-height: 2.2rem;
}

.homePage .testimonialBox .quote::before {
  content: " “ ";
}

.homePage .testimonialBox .quote::after {
  content: " ” ";
}

.homePage .testimonialBox i:hover, .homePage .testimonialBox i:focus, .homePage .testimonialBox i:active {
  color: #999999;
}

.homePage .testimonialBox .rating i {
  color: #F6AB09;
  font-weight: 300;
}

.homePage .contactUs h4,
.homePage .contactUs .phone {
  padding-top: 50px;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  text-transform: none;
  color: #000000;
}

.homePage .contactUs h4 span,
.homePage .contactUs .phone span {
  color: #CCCCCC;
  font-size: 2rem;
}

.homePage .contactUs .phone {
  padding-top: 0;
  margin: 0;
}

.homePage .contactUs p {
  width: 250px;
}

.homePage .contactUs p:nth-of-type(3) {
  padding-top: 50px;
}

footer, footer a {
  color: #CCCCCC;
}

footer:hover, footer:focus, footer:active, footer a:hover, footer a:focus, footer a:active {
  color: #FFFFFF;
}

nav li {
  position: relative;
}

nav li a {
  font-weight: 600;
  color: #000000;
}

nav li a:hover, nav li a:focus, nav li a:active {
  color: #999999;
}

nav li p {
  background-color: #A4F1DC;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  text-align: center;
  line-height: 1.2rem;
  font-size: 0.6rem;
  color: #000000;
  position: absolute;
  bottom: 16px;
  right: 5px;
}

h2, h3 {
  margin-top: 0;
  margin-bottom: 20px;
}

span {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: #000000;
}

.homePage h2 {
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: #999999;
}

.logo, .homePage h3, .blogPage h1 {
  color: #000000;
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  line-height: 2.6rem;
  letter-spacing: 0.04rem;
}

.blogPage h1 {
  font-size: 2.5rem;
}

.blogPage h2,
.contactPage h2 {
  color: #000000;
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #CCCCCC;
}

.homePage .about h3 {
  font-size: 2.5rem;
  padding-top: 20px;
  position: relative;
}

.homePage .about h3::before {
  content: " ";
  background-color: #000000;
  width: 50px;
  height: 1px;
  position: absolute;
  top: 0;
}

.byline .author {
  font-weight: 600;
  color: #000000;
}

.byline .author::after {
  content: " — ";
  color: #999999;
}

.homePage h4, .homePage i {
  margin: 0;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: #000000;
}

.homePage i {
  font-size: 2rem;
}

.homePage .testimonialBox .quote {
  padding: 20px 50px;
  color: #000000;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 1.5rem;
  line-height: 2.2rem;
}

.homePage .testimonialBox .quote::before {
  content: " “ ";
}

.homePage .testimonialBox .quote::after {
  content: " ” ";
}

.homePage .testimonialBox i:hover, .homePage .testimonialBox i:focus, .homePage .testimonialBox i:active {
  color: #999999;
}

.homePage .testimonialBox .rating i {
  color: #F6AB09;
  font-weight: 300;
}

.homePage .contactUs h4,
.homePage .contactUs .phone {
  padding-top: 50px;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  text-transform: none;
  color: #000000;
}

.homePage .contactUs h4 span,
.homePage .contactUs .phone span {
  color: #CCCCCC;
  font-size: 2rem;
}

.homePage .contactUs .phone {
  padding-top: 0;
  margin: 0;
}

.homePage .contactUs p {
  width: 250px;
}

.homePage .contactUs p:nth-of-type(3) {
  padding-top: 50px;
}

footer, footer a {
  color: #CCCCCC;
}

footer:hover, footer:focus, footer:active, footer a:hover, footer a:focus, footer a:active {
  color: #FFFFFF;
}

.homePage header {
  background-image: url("../sunshine-assets/home-1.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
}

.homePage .byline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.homePage .about {
  background-color: #EDEDED;
}

.homePage .about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: vertical;
          flex-direction: vertical;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.homePage .about article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0;
}

.homePage .about h2 {
  width: 100%;
  text-align: center;
}

.homePage .about .image {
  width: 300px;
  max-width: 350px;
  position: relative;
}

.homePage .about .image img:first-child {
  width: 225px;
  border: 10px solid #FFFFFF;
  margin: 0 10px;
  float: right;
}

.homePage .about .image img:last-child {
  position: absolute;
  width: 125px;
  left: 0;
  bottom: -25px;
}

.homePage .about .copy {
  width: 400px;
  padding: 0 25px;
}

.homePage .about .copy h3 {
  width: 300px;
}

.homePage .features {
  background-image: url("../sunshine-assets/home-3.jpeg");
  background-size: contain;
  background-position: 100% 0;
  background-repeat: no-repeat;
}

.homePage .featuresTable {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 15%;
  padding-top: 5%;
  width: 500px;
}

.homePage .featuresTable li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding: 0 20px 20px 0;
}

.homePage .featuresTable h3 {
  margin: 0;
}

.homePage .featuresTable i {
  padding: 0 20px 0 0;
}

.homePage .testimonials {
  background-image: url("../sunshine-assets/pattern.png");
  background-size: cover;
  text-align: center;
  padding: 75px 0;
}

.homePage .testimonials .testimonialBox {
  background-color: #FFFFFF;
  padding: 50px 75px;
  position: relative;
}

.homePage .testimonials .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homePage .testimonials .fas {
  position: absolute;
  top: 50%;
}

.homePage .testimonials .left.fas {
  left: -50px;
}

.homePage .testimonials .right.fas {
  right: -50px;
}

.homePage .testimonials .byline {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homePage .gallery {
  background-image: url("../sunshine-assets/pattern.png");
  background-size: cover;
  padding-bottom: 75px;
  text-align: center;
}

.homePage .gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 30px;
}

.homePage .gallery li {
  width: calc(100% / 3 - 10px);
  padding-bottom: 10px;
}

.homePage .contactUs {
  background-image: url("../sunshine-assets/home-10.jpeg");
  background-size: 60%;
  background-position: fixed;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.homePage .contactUs .copy {
  margin-right: 15%;
  padding: 5% 0 5% 5%;
  background-color: #FFFFFF;
}

.blogPage {
  background-color: #EDEDED;
}

.blogPage .form, .blogPage fieldset {
  border: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogPage input, .blogPage textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #CCCCCC;
  width: 30%;
  padding: 10px 0;
}

.blogPage input::-webkit-input-placeholder, .blogPage textarea::-webkit-input-placeholder {
  color: #FFFFFF;
}

.blogPage input:-ms-input-placeholder, .blogPage textarea:-ms-input-placeholder {
  color: #FFFFFF;
}

.blogPage input::-ms-input-placeholder, .blogPage textarea::-ms-input-placeholder {
  color: #FFFFFF;
}

.blogPage input::placeholder, .blogPage textarea::placeholder {
  color: #FFFFFF;
}

.blogPage label {
  color: #CCCCCC;
}

.blogPage textarea {
  width: 100%;
  height: 100px;
}

.blogPage header {
  background-image: url("../sunshine-assets/blog-1.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
}

.blogPage article {
  background-color: #FFFFFF;
  position: relative;
  top: -100px;
  padding: 50px 50px;
}

.blogPage article .post {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blogPage article .postInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid;
}

.blogPage article .authorInfo {
  width: 30%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogPage article .authorInfo img {
  border-radius: 50%;
}

.blogPage article .articleInfo {
  width: 70%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogPage article .authorInfo li {
  margin-right: 25px;
}

.blogPage article .articleInfo li {
  margin-right: 35px;
}

.blogPage article .copy {
  text-align: left;
  margin: 20px 0;
}

.blogPage article .copy p:first-child {
  font-weight: 600;
}

.blogPage article .share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.blogPage article .share li {
  margin-right: 10px;
}

.blogPage article .related {
  margin-bottom: 20px;
}

.blogPage article .related li {
  width: calc(100% / 3 - 10px);
  border-bottom: 1px solid;
}

.blogPage article .related li:hover, .blogPage article .related li:focus, .blogPage article .related li:active {
  -webkit-box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
}

.blogPage article .related .copy {
  padding: 5px 10px;
}

.blogPage article .comments {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blogPage article .commentBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
}

.blogPage article .commentBox img {
  width: 50px;
}

.blogPage article .commentBox .copy {
  width: 90%;
  background-color: #EDEDED;
  margin: 0;
  padding: 5px 15px;
}

.contactPage header {
  background-image: url("../sunshine-assets/contact-1.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  height: 70vh;
}

.contactPage section {
  background-color: #FFFFFF;
  padding: 50px 0;
}

.contactPage section .copy {
  width: 300px;
}

.contactPage section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactPage section li {
  width: 33%;
  padding: 20px;
  border-right: 1px solid;
}

.contactPage section li:hover, .contactPage section li:focus, .contactPage section li:active {
  -webkit-box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
}

.contactPage section li:last-child {
  border-right: none;
}

.contactPage section i {
  color: #000000;
  font-size: 1.5rem;
}

.contactPage section:nth-of-type(2) {
  padding-top: 0;
}

.contactPage form .form, .contactPage form fieldset {
  border: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactPage form input, .contactPage form textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #CCCCCC;
  width: 30%;
  padding: 10px 0;
}

.contactPage form input::-webkit-input-placeholder, .contactPage form textarea::-webkit-input-placeholder {
  color: #FFFFFF;
}

.contactPage form input:-ms-input-placeholder, .contactPage form textarea:-ms-input-placeholder {
  color: #FFFFFF;
}

.contactPage form input::-ms-input-placeholder, .contactPage form textarea::-ms-input-placeholder {
  color: #FFFFFF;
}

.contactPage form input::placeholder, .contactPage form textarea::placeholder {
  color: #FFFFFF;
}

.contactPage form label {
  color: #CCCCCC;
}

.contactPage form textarea {
  width: 100%;
  height: 100px;
}

.topBar {
  width: 100%;
  background-color: #FFFFFF;
  position: relative;
  height: 75px;
}

.topBar ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-transform: uppercase;
}

.topBar ul li {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

.topBar ul li:nth-child(3) {
  margin-right: 25%;
}

.topBar ul li:nth-child(4) {
  margin-left: 25%;
}

.topBar .logo {
  position: absolute;
  top: 20px;
  left: 42%;
  margin: 0;
}

.topBar label, .topBar input {
  display: none;
}

footer {
  background-color: #1f1f1f;
  color: #EDEDED;
  padding: 75px 0 0 0;
}

footer .footerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 40px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: calc(60%/2 - 10px);
}

footer form {
  width: 40%;
}

footer form .form, footer form fieldset {
  border: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer form input, footer form textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #CCCCCC;
  width: 30%;
  padding: 10px 0;
}

footer form input::-webkit-input-placeholder, footer form textarea::-webkit-input-placeholder {
  color: #FFFFFF;
}

footer form input:-ms-input-placeholder, footer form textarea:-ms-input-placeholder {
  color: #FFFFFF;
}

footer form input::-ms-input-placeholder, footer form textarea::-ms-input-placeholder {
  color: #FFFFFF;
}

footer form input::placeholder, footer form textarea::placeholder {
  color: #FFFFFF;
}

footer form label {
  color: #CCCCCC;
}

footer form textarea {
  width: 100%;
  height: 100px;
}

footer form input.emailSignup {
  color: #FFFFFF;
  padding: 10px 0;
  width: 100%;
}

footer .lowBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 25px 0;
  color: #999999;
}

footer .lowBar ul {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .lowBar li {
  padding-left: 20px;
}

footer .lowBar i {
  color: #FFFFFF;
  font-size: 1.5rem;
  padding: 0 25px;
}

footer .lowBar i:hover, footer .lowBar i:focus, footer .lowBar i:active {
  color: #CCCCCC;
}

@media (max-width: 1100px) {
  .featuresTable {
    font-size: 0.9rem;
  }
}

@media (max-width: 1015px) {
  .featuresTable {
    font-size: 0.8rem;
  }
  .homePage .about .copy {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 20px;
  }
  .homePage .about h3::before {
    right: 120px;
  }
  .homePage .contactUs {
    background-size: 70%;
  }
}

@media (max-width: 860px) {
  .topBar ul {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .topBar ul li:nth-child(3) {
    margin-right: 0;
  }
  .topBar ul li:nth-child(4) {
    margin-left: 0;
  }
  .topBar .logo {
    left: 15%;
    font-size: 3rem;
  }
  .homePage .featuresTable {
    width: 400px;
  }
  .homePage .featuresTable li {
    width: 100%;
  }
  .homePage .gallery li {
    width: calc(50% - 10px);
  }
  .blogPage .articleInfo {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-right: 0;
  }
  .blogPage .articleInfo li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .blogPage .articleInfo li p {
    padding: 0 20px;
  }
  .blogPage article .posts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .blogPage article .posts li {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 25px 0;
  }
  .blogPage article .posts img {
    max-width: 50%;
  }
}

@media (max-width: 768px) {
  .topBar .logo {
    font-size: 2.5rem;
  }
  .homePage .contactUs {
    background-size: 80%;
  }
}

@media (max-width: 700px) {
  .logo, .homePage h3 {
    font-size: 2.5rem;
  }
  .topBar {
    position: fixed;
    z-index: 1;
  }
  .topBar nav label,
  .topBar nav input {
    display: block;
    font-size: 2rem;
  }
  .topBar ul.menu {
    background-color: #FFFFFF;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    z-index: 1;
    width: 100%;
    right: -100%;
    top: 75px;
  }
  .topBar ul.menu a {
    display: inline-block;
    font-size: 1.75rem;
    text-align: center;
    border-bottom: 1px solid #CCCCCC;
    width: 100%;
    padding: 10px;
  }
  .topBar input[type="checkbox"]:checked + ul.menu {
    right: 0;
    top: 75px;
  }
  .topBar input[type="checkbox"] {
    display: none;
  }
  .topBar label[for="toggle"] {
    position: fixed;
    width: 100%;
    top: 20px;
    right: 15%;
    text-align: right;
    padding: 5px 0;
  }
  .topBar label[for="toggle"]:active,
  .topBar label[for="toggle"]:focus {
    color: #CCCCCC;
  }
  .homePage .features {
    background-image: none;
  }
  .homePage .features .featuresTable {
    width: 70%;
    margin: 10% 15%;
  }
  .homePage .testimonialBox .wrapper {
    width: 80%;
  }
  .homePage .testimonialBox .quote {
    padding: 20px 0px;
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  .homePage .gallery li {
    width: 100%;
    padding: 5% 10%;
  }
  .homePage .gallery li:nth-last-of-type(4),
  .homePage .gallery li:nth-last-of-type(5),
  .homePage .gallery li:nth-last-of-type(6) {
    display: none;
  }
  .homePage .contactUs {
    background-image: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .homePage .contactUs .copy {
    width: 100%;
    margin: 10% 15%;
    padding: 5%;
    text-align: center;
  }
  .homePage .contactUs p {
    width: 100%;
  }
  footer ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin: 20px 0;
  }
  footer li {
    padding: 10px;
  }
  footer form {
    text-align: center;
    width: 100%;
  }
  footer .footerMenu {
    border-bottom: none;
  }
  footer .lowBar i {
    padding: 0 5px;
  }
  .blogPage article .posts li {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 25px 0;
  }
  .blogPage article .posts img {
    max-width: 100%;
  }
  .commentBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .commentBox img {
    display: none;
  }
  .commentBox .copy {
    width: 100%;
  }
  .contactPage main ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactPage main ul li {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #CCCCCC;
  }
}
